*{
    margin: 0;
    padding: 0;
}
.login{
    width: 40%;
    background:#3333ff;
    margin:auto;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
  text-align: center;
  margin-top: 50px;
  box-shadow: 4px 4px 4px #000;
}
.login input{
    display: block;
    margin:auto;
    margin-top: 10px;
  
    border: none;
    border-radius: 5px;
    
}
.login input[type='text'],.login input[type='password']{
    height: 30px;
    width: 50%;
    font-size: 16px
}

.login input[type='submit']{
   background: #9999ff;
    width: 40%;
height: 40px; 
font-size: 18px;
color:#fff;
cursor: pointer;
}
